# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf

# Frontend files
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf

# Config files
*.yaml text eol=lf
*.yml text eol=lf
*.txt text eol=lf
*.md text eol=lf

